[submodule "fragments/Klipper-Adaptive-Meshing-Purging"]
	path = Klipper-Adaptive-Meshing-Purging
	url = git@github.com:kyleisah/Klipper-Adaptive-Meshing-Purging.git
	branch = main
[submodule "fragments/klipper_z_calibration"]
	path = klipper_z_calibration
	url = git@github.com:protoloft/klipper_z_calibration.git
	branch = master
