#####################################################################
# 	Macros
#####################################################################

[delayed_gcode start_controller_fans]
initial_duration: 1
gcode:
    SET_FAN_SPEED FAN=controller_fans SPEED=1
    BED_MESH_PROFILE LOAD=default

[gcode_macro G32]
gcode:
    G28
    QUAD_GANTRY_LEVEL
    G28 Z
    CALIBRATE_Z

[gcode_macro PRINT_START]
gcode:
    {% set extruder_temp = params.EXTRUDER|default(245)|int %}
    {% set bed_temp = params.BED|default(100)|int %}

    {% set th = printer.toolhead %}
    {% set x = th.axis_maximum.x - 20 %}
    {% set y = th.axis_maximum.y - 20 %}
    {% set z = 25 %}
    {% set feedrate = 12000 %}

    G90
    {% if "xyz" in printer.toolhead.homed_axes %}
        G0 Z{z}
        G0 X{x} Y{y} F{feedrate}                                                                  ; for fast homing
    {% endif %}

    G28
    G0 Z{z}
    G0 X40 Y{y} F{feedrate}

    M190 S{bed_temp}
    M109 S{extruder_temp}
    G92 E0
    G1 E-1.0 F1500

    Attach_Probe_Lock
    QUAD_GANTRY_LEVEL
    G0 Z{z}
    G0 X{x} Y{y} F{feedrate}                                                                      ; for fast homing
    G28
    CALIBRATE_Z
    Dock_Probe_Unlock

    M140 S{bed_temp}
    M104 S{extruder_temp}

[gcode_macro PRINT_END]
gcode:
    {% set th = printer.toolhead %}
    {% set x = th.axis_maximum.x - 20 %}
    {% set y = th.axis_maximum.y - 20 %}
    {% set z = [th.position.z + 5, th.axis_maximum.z]|min %}
    {% set feedrate = 12000 %}

    M400                                                                                          ; wait for buffer to clear

    G92 E0                                                                                        ; zero the extruder
    G1 E-5.0 F1500                                                                                ; retract filament
    G91                                                                                           ; relative positioning
    G1 Z{z} F3000                                                                                 ; move nozzle up 2mm
    G90                                                                                           ; absolute positioning
    G0 X{x} Y{y} F{feedrate}                                                                      ; park nozzle at rear

    # TURN_OFF_HEATERS
    M107                                                                                          ; turn off fan

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    {% set z = params.Z|default(10)|int %}                                                        ; z hop amount
    {% set z_min = 30 %}
    {% set feedrate = 12000 %}

    {% if printer['pause_resume'].is_paused|int == 0 %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}                                   ; set z hop variable for reference in resume macro

        SAVE_GCODE_STATE NAME=PAUSE                                                               ; save current print position for resume

        BASE_PAUSE                                                                                ; pause print

        {% if printer.gcode_move.position.z < z_min %}                                            ; set z hop a bit more if nozzle is close to bed
            G91
            G1 Z{z_min} F900
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z_min}
        {% elif (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}          ; check that zhop doesn't exceed z max
            G91                                                                                   ; relative positioning
            G1 Z{z} F900                                                                          ; raise Z up by z hop amount
        {% else %}
            { action_respond_info("Pause zhop exceeds maximum Z height.") }                       ; if z max is exceeded, show message and set zhop value for resume to 0
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}

        G90                                                                                       ; absolute positioning
        G1 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} F{feedrate}  ; park toolhead at front center

        SAVE_GCODE_STATE NAME=PAUSEPARK                                                           ; save parked position in case toolhead is moved during the pause (otherwise the return zhop can error)

        SET_IDLE_TIMEOUT TIMEOUT=43200                                                            ; set timeout to 12 hours
    {% endif %}

[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
gcode:
    {% set e = params.E|default(5)|int %}                                                         ; hotend prime amount (in mm)

    {% if printer['pause_resume'].is_paused|int == 1 %}
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}               ; set timeout back to configured value

        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100                                  ; go back to parked position in case toolhead was moved during pause (otherwise the return zhop can error)
        G91                                                                                       ; relative positioning
        M83                                                                                       ; relative extruder positioning
        {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}
            G1 Z{zhop * -1} E{e} F900                                                             ; prime nozzle by E, lower Z back down
        {% else %}
            G1 Z{zhop * -1} F900                                                                  ; lower Z back down without priming (just in case we are testing the macro with cold hotend)
        {% endif %}

        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=200                                      ; restore position
        BASE_RESUME                                                                               ; resume print
    {% endif %}

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}                   ; set timeout back to configured value
    CLEAR_PAUSE
    PRINT_END
    BASE_CANCEL_PRINT

[gcode_macro BED_CENTER]
gcode:
    G1 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} F12000

[gcode_macro M600]
gcode:
    SAVE_GCODE_STATE NAME=M600_state

    PAUSE
    G91
    G1 E-80 F1500

    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro POWER_LOSS]
gcode:
    PAUSE
    TURN_OFF_HEATERS
